<div ng-controller="LoadBalancerDetailsController as ctrl">
  <p translate>Provide the details for the load balancer.</p>

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
        <label translate class="control-label" for="name">Name</label>
        <input name="name" id="name" type="text" class="form-control"
               ng-model="model.spec.loadbalancer.name">
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
        <label translate class="control-label" for="description">Description</label>
        <input name="description" id="description" type="text" class="form-control"
               ng-model="model.spec.loadbalancer.description">
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group"
        ng-class="{ 'has-error': loadBalancerDetailsForm.ip.$invalid && loadBalancerDetailsForm.ip.$dirty }">
        <label translate class="control-label" for="ip">IP address</label>
        <input name="ip" id="ip" type="text" class="form-control"
               ng-model="model.spec.loadbalancer.ip" ng-pattern="::ctrl.ipPattern"
               ng-disabled="model.context.id">
        <span class="help-block" ng-show="loadBalancerDetailsForm.ip.$invalid && loadBalancerDetailsForm.ip.$dirty">
          {$ ::ctrl.ipError $}
        </span>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group required">
        <label translate class="control-label" for="subnet">
          Subnet
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select class="form-control" name="subnet" id="subnet"
                ng-options="subnet.name || subnet.id for subnet in model.subnets"
                ng-model="model.spec.loadbalancer.subnet" ng-required="true"
                ng-disabled="model.context.id">
        </select>
      </div>
    </div>

  </div>
</div>
