<div ng-controller="ListenerDetailController as ctrl">
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="project/ngloadbalancersv2/"><translate>Load Balancers</translate></a></li>
      <li><a href="project/ngloadbalancersv2/{$ ::ctrl.loadbalancer.id $}">{$ ::(ctrl.loadbalancer.name || ctrl.loadbalancer.id) $}</a></li>
      <li class="active">{$ ::(ctrl.listener.name || ctrl.listener.id) $}</li>
      <actions allowed="ctrl.actions" type="row" item="ctrl.listener" ng-if="ctrl.listener"
               class="actions_column pull-right"></actions>
    </ol>
    <p ng-if="::ctrl.listener.description">{$ ::ctrl.listener.description $}</p>
  </div>
  <div class="row">
    <div class="col-md-6 detail">
      <dl class="dl-horizontal">
        <dt translate>Protocol</dt>
        <dd>{$ ::ctrl.listener.protocol $}</dd>
        <dt translate>Protocol Port</dt>
        <dd>{$ ::ctrl.listener.protocol_port $}</dd>
        <dt translate>Connection Limit</dt>
        <dd>{$ ctrl.listener.connection_limit | limit $}</dd>
        <dt translate>Admin State Up</dt>
        <dd>{$ ctrl.listener.admin_state_up | yesno $}</dd>
        <dt translate>Default Pool ID</dt>
        <dd>
          <a ng-href="project/ngloadbalancersv2/{$ ::ctrl.loadbalancer.id $}/listeners/{$ ::ctrl.listener.id $}/pools/{$ ::ctrl.listener.default_pool_id $}" ng-if="ctrl.listener.default_pool_id">
            {$ ::ctrl.listener.default_pool_id $}
          </a>
          <span ng-if="!ctrl.listener.default_pool_id">
            {$ 'None' | translate $}
          </span>
        </dd>
        <dt translate>Listener ID</dt>
        <dd>{$ ::ctrl.listener.id $}</dd>
        <dt translate>Tenant ID</dt>
        <dd>{$ ::ctrl.listener.tenant_id $}</dd>
      </dl>
    </div>
  </div>
</div>