<div class="modal-header">
  <h3 class="modal-title">
    <span translate>Update Member Weight</span>
  </h3>
</div>
<div class="modal-body lbaas-modal">
  <p translate>The weight of a member determines the portion of requests or connections it services compared to the other members of the pool.</p>
  <div ng-form="form">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="form-group required"
             ng-class="{ 'has-error': form.weight.$invalid && form.weight.$dirty }">
          <label translate class="control-label" for="weight">
            Weight
            <span class="hz-icon-required fa fa-asterisk"></span>
          </label>
          <input name="weight" id="weight" type="number" class="form-control"
                 ng-model="modal.weight" ng-pattern="/^\d+$/" min="1" max="256"
                 ng-required="true">
          <span class="help-block" ng-show="form.weight.$invalid && form.weight.$dirty">
            {$ ::modal.weightError $}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-default" ng-click="modal.cancel()">
    <span class="fa fa-close"></span>
    <span translate>Cancel</span>
  </button>
  <button class="btn btn-sm btn-primary"
          ng-click="modal.save()"
          ng-disabled="form.$invalid || modal.saving">
    <span class="fa" ng-class="modal.saving ? 'fa-spinner fa-spin' : 'fa-check'"></span>
    <span translate>Update</span>
  </button>
</div>
