{% load i18n sizeformat %}

<h3>{% trans "Load Balancer Overview" %}</h3>

<div class="status row-fluid detail">
  <h4>{% trans "Info" %}</h4>
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ loadbalancer.name }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ loadbalancer.id }}</dd>
    <dt>{% trans "Address" %}</dt>
    <dd>{{ loadbalancer.address }}</dd>
    <dt>{% trans "Port" %}</dt>
    <dd>{{ loadbalancer.port }}</dd>
    <dt>{% trans "Protocol" %}</dt>
    <dd>{{ loadbalancer.protocol }}</dd>
    <dt>{% trans "Load Balancing Method" %}</dt>
    <dd>{{ loadbalancer.lb_method }}</dd>
    <dt>{% trans "Monitor" %}</dt>
    <dd>{{ loadbalancer.pool.monitors.type }}</dd>
    <dt>{% trans "Operating Status" %}</dt>
    <dd>{{ loadbalancer.operating_status }}</dd>
    <dt>{% trans "Provisioning Status" %}</dt>
    <dd>{{ loadbalancer.provisioning_status }}</dd>
    <dt>{% trans "Description" %}</dt>
    <dd> - {{ loadbalancer.description }}</dd>
    <dt>{% trans "Admin Status" %}</dt>
    <dd>{{ loadbalancer.enabled|title }}</dd>
{#    <dt>{% trans "Load Balancing Method" %}</dt>#}
{#    <dd>{{ loadbalancer.pool.lb_method }}</dd>#}
{#    <dt>{% trans "Monitor" %}</dt>#}
{#    <dd>{{ loadbalancer.pool.monitor }}</dd>#}
    <dt>{% trans "Certificate" %}</dt>
    <dd> - {{ loadbalancer.cert_name }}</dd>
  </dl>
</div>

<div class="members row-fluid detail">
  <h4>{% trans "Members" %}</h4>
  <hr class="header_rule">
  <dl>
  {% for group in loadbalancer.pool.members.members %}
    <dt>{{ group.id }}</dt>
    <dd> <b>IP:</b> {{ group.address }}</dd>
    <dd> <b>Port:</b> {{ group.protocol_port }}</dd>
  {% endfor %}
  </dl>
</div>
