{% load i18n %}

{% block main %}
{#<table class="table-fixed" id="monitorContainer">#}
{#  <tbody>#}
{#    <tr>#}
{#      <td class="actions">#}
{#          <div id="monitorId">#}
{#            {% include "horizon/common/_form_fields.html" %}#}
{#          </div>#}
{#      </td>#}
{#      <td class="help_text">#}
{#          {{ step.get_help_text }}#}
{#      </td>#}
{#    </tr>#}
{#  </tbody>#}
{#</table>#}
    <div class="col-sm-6">
        {% include "horizon/common/_form_fields.html" %}
    </div>
    <div class="col-sm-6">
        {{ step.get_help_text }}
    </div>
{% endblock %}


<script>
    horizon.modals.addModalInitFunction(function (modal) {
        var $monitor_type = $('#id_monitor');
        var $interval = $('#id_interval');
        var $timeout = $('#id_timeout');
        var $send = $('#id_send');
        var $receive = $('#id_receive');

        $monitor_type.change(function () {
            if ($monitor_type.val() == 'http-ecv') {
                $interval.closest(".control-group").show();
                $timeout.closest(".control-group").show();
                $send.closest(".control-group").show();
                $receive.closest(".control-group").show();
            } else {
                $interval.closest(".control-group").hide();
                $timeout.closest(".control-group").hide();
                $send.closest(".control-group").hide();
                $receive.closest(".control-group").hide();
            }
        }).trigger('change');
    });
</script>
