<div ng-controller="ListenerDetailsController as ctrl">
  <p translate>Provide the details for the listener.</p>

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
        <label translate class="control-label" for="name">Name</label>
        <input name="name" id="name" type="text" class="form-control"
               ng-model="model.spec.listener.name">
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group">
        <label translate class="control-label" for="description">Description</label>
        <input name="description" id="description" type="text" class="form-control"
               ng-model="model.spec.listener.description">
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group required">
        <label translate class="control-label" for="protocol">
          Protocol
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select class="form-control" name="protocol" id="protocol"
                ng-model="model.spec.listener.protocol" ng-required="true"
                ng-change="ctrl.protocolChange(model.spec.listener.protocol)"
                ng-disabled="model.context.id">
          <option ng-repeat="protocol in model.listenerProtocols" value="{$ protocol $}"
                  ng-disabled="protocol==='TERMINATED_HTTPS' && model.certificatesError">{$ protocol $}</option>
        </select>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="form-group required"
           ng-class="{ 'has-error': listenerDetailsForm.port.$invalid && listenerDetailsForm.port.$dirty }">
        <label translate class="control-label" for="port">
          Port
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="port" id="port" type="number" class="form-control"
               ng-model="model.spec.listener.port" ng-pattern="/^\d+$/" min="1" max="65535"
               ng-required="true" ng-disabled="model.context.id"
               validate-unique="model.listenerPorts">
        <span class="help-block" ng-show="(listenerDetailsForm.port.$error.number || listenerDetailsForm.port.$error.required) && listenerDetailsForm.port.$dirty">
          {$ ::ctrl.portNumberError $}
        </span>
        <span class="help-block" ng-show="!(listenerDetailsForm.port.$error.number || listenerDetailsForm.port.$error.required) && listenerDetailsForm.port.$error.unique && listenerDetailsForm.port.$dirty">
          {$ ::ctrl.portUniqueError $}
        </span>
      </div>
    </div>

  </div>
</div>
